<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>namespace</key>
	<string>Passenger_Example</string>
	<key>consumer_key</key>
	<string>070C505B63E50C3BAD3D</string>
	<key>authorization</key>
	<dict>
		<key>OAuth2</key>
		<dict/>
		<key>OAuth1</key>
		<dict>
			<key>signature_method</key>
			<string>HMAC-SHA1</string>
			<key>consumer_secret</key>
			<string>ap3PxaF4l20xYOLf5+NcgHy5mTi1/pVWkojgP7jg</string>
			<key>access_token_url</key>
			<string>https://www.ravelry.com/oauth/access_token</string>
			<key>request_token_callback</key>
			<string>Passenger://com.fkcomp.Passenger</string>
			<key>authorize_url</key>
			<string>https://www.ravelry.com/oauth/authorize</string>
			<key>request_token_url</key>
			<string>https://www.ravelry.com/oauth/request_token</string>
		</dict>
		<key>BasicAuth</key>
		<dict>
			<key>personal_key</key>
			<string>_jP_2lOVBjSsYtC36hYacGbpjohCtzr8HSdzJBE2</string>
			<key>username</key>
			<string>kellanbc</string>
		</dict>
	</dict>
	<key>url</key>
	<string>https://api.ravelry.com</string>
	<key>version</key>
	<string></string>
	<key>options</key>
	<dict>
		<key>use_file_extensions</key>
		<true/>
		<key>use_accept_headers</key>
		<false/>
		<key>show_version_in_path</key>
		<false/>
	</dict>
</dict>
</plist>
