<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Upload</key>
	<dict>
		<key>endpoints</key>
		<dict>
			<key>Image</key>
			<dict>
				<key>path</key>
				<string>image</string>
				<key>routes</key>
				<dict>
					<key>status</key>
					<dict>
						<key>method</key>
						<string>GET</string>
						<key>path</key>
						<string>status</string>
						<key>auth</key>
						<string>BasicAuth</string>
					</dict>
					<key>upload</key>
					<dict>
						<key>node</key>
						<string>uploads</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<key>routes</key>
		<dict>
			<key>create</key>
			<dict>
				<key>path</key>
				<string>request_token</string>
				<key>auth</key>
				<string>BasicAuth</string>
			</dict>
		</dict>
		<key>path</key>
		<string>upload</string>
	</dict>
	<key>ProjectStatus</key>
	<dict>
		<key>routes</key>
		<dict>
			<key>list</key>
			<dict>
				<key>auth</key>
				<string>OAuth1</string>
				<key>method</key>
				<string>POST</string>
			</dict>
		</dict>
		<key>path</key>
		<string>projects/project_statuses</string>
	</dict>
	<key>Craft</key>
	<dict>
		<key>path</key>
		<string>projects/crafts</string>
		<key>routes</key>
		<dict>
			<key>list</key>
			<dict>
				<key>auth</key>
				<string>OAuth1</string>
			</dict>
		</dict>
	</dict>
	<key>NeedleSize</key>
	<dict>
		<key>path</key>
		<string>needles/sizes</string>
		<key>routes</key>
		<dict>
			<key>list</key>
			<dict>
				<key>auth</key>
				<string>BasicAuth</string>
			</dict>
		</dict>
	</dict>
	<key>NeedleType</key>
	<dict>
		<key>routes</key>
		<dict>
			<key>list</key>
			<dict>
				<key>auth</key>
				<string>BasicAuth</string>
			</dict>
		</dict>
		<key>path</key>
		<string>needles/types</string>
	</dict>
	<key>User</key>
	<dict>
		<key>routes</key>
		<dict>
			<key>find</key>
			<dict>
				<key>auth</key>
				<string>OAuth1</string>
				<key>path</key>
				<string>people/:id</string>
			</dict>
		</dict>
		<key>endpoints</key>
		<dict>
			<key>Projects</key>
			<dict>
				<key>routes</key>
				<dict>
					<key>destroy</key>
					<dict>
						<key>path</key>
						<string>:id</string>
						<key>auth</key>
						<string>OAuth1</string>
					</dict>
					<key>save</key>
					<dict>
						<key>path</key>
						<string>:id</string>
						<key>auth</key>
						<string>OAuth1</string>
						<key>method</key>
						<string>POST</string>
					</dict>
					<key>list</key>
					<dict>
						<key>auth</key>
						<string>OAuth1</string>
						<key>path</key>
						<string>list</string>
					</dict>
					<key>create</key>
					<dict>
						<key>auth</key>
						<string>OAuth1</string>
						<key>path</key>
						<string>create</string>
					</dict>
					<key>find</key>
					<dict>
						<key>path</key>
						<string>:id</string>
						<key>auth</key>
						<string>BasicAuth</string>
					</dict>
					<key>reorder_photos</key>
					<dict>
						<key>path</key>
						<string>:id/reorder_photos</string>
						<key>auth</key>
						<string>OAuth1</string>
					</dict>
					<key>create_photo</key>
					<dict>
						<key>auth</key>
						<string>OAuth1</string>
						<key>path</key>
						<string>:id/create_photo</string>
						<key>method</key>
						<string>POST</string>
					</dict>
				</dict>
				<key>endpoints</key>
				<dict>
					<key>Comment</key>
					<dict>
						<key>path</key>
						<string>:project.id/comments</string>
						<key>routes</key>
						<dict>
							<key>list</key>
							<dict>
								<key>auth</key>
								<string>BasicAuth</string>
							</dict>
						</dict>
					</dict>
				</dict>
				<key>path</key>
				<string>projects/:user.username</string>
			</dict>
			<key>StashItems</key>
			<dict>
				<key>routes</key>
				<dict>
					<key>find</key>
					<dict>
						<key>path</key>
						<string>:id</string>
						<key>auth</key>
						<string>BasicAuth</string>
					</dict>
				</dict>
				<key>path</key>
				<string>people/:user.username/stash</string>
			</dict>
			<key>Needles</key>
			<dict>
				<key>routes</key>
				<dict>
					<key>list</key>
					<dict>
						<key>path</key>
						<string>list</string>
						<key>auth</key>
						<string>BasicAuth</string>
					</dict>
				</dict>
				<key>path</key>
				<string>people/:user.username/needles</string>
			</dict>
		</dict>
	</dict>
	<key>StashItem</key>
	<dict>
		<key>routes</key>
		<dict>
			<key>search</key>
			<dict>
				<key>path</key>
				<string>search</string>
				<key>auth</key>
				<string>BasicAuth</string>
			</dict>
		</dict>
		<key>path</key>
		<string>stash</string>
	</dict>
	<key>Project</key>
	<dict>
		<key>path</key>
		<string>projects</string>
		<key>routes</key>
		<dict>
			<key>search</key>
			<dict>
				<key>path</key>
				<string>search</string>
				<key>auth</key>
				<string>BasicAuth</string>
			</dict>
		</dict>
	</dict>
	<key>Pattern</key>
	<dict>
		<key>endpoints</key>
		<dict>
			<key>Comment</key>
			<dict>
				<key>path</key>
				<string>:id/comments</string>
				<key>routes</key>
				<dict>
					<key>list</key>
					<dict>
						<key>auth</key>
						<string>BasicAuth</string>
					</dict>
				</dict>
			</dict>
			<key>Project</key>
			<dict>
				<key>path</key>
				<string>:id/projects</string>
				<key>routes</key>
				<dict>
					<key>list</key>
					<dict>
						<key>auth</key>
						<string>BasicAuth</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<key>routes</key>
		<dict>
			<key>search</key>
			<dict>
				<key>path</key>
				<string>search</string>
				<key>auth</key>
				<string>BasicAuth</string>
			</dict>
			<key>find</key>
			<dict>
				<key>path</key>
				<string>:id</string>
				<key>auth</key>
				<string>BasicAuth</string>
			</dict>
		</dict>
		<key>path</key>
		<string>patterns</string>
	</dict>
</dict>
</plist>
