<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>needles</key>
	<dict>
		<key>sizes</key>
		<array>
			<dict>
				<key>method</key>
				<string>list</string>
				<key>auth</key>
				<string>BasicAuth</string>
				<key>model</key>
				<string>NeedleSize</string>
			</dict>
		</array>
		<key>types</key>
		<array>
			<dict>
				<key>method</key>
				<string>list</string>
				<key>auth</key>
				<string>BasicAuth</string>
				<key>model</key>
				<string>NeedleType</string>
			</dict>
		</array>
	</dict>
	<key>people</key>
	<dict>
		<key>:username</key>
		<dict>
			<key>needles</key>
			<string></string>
		</dict>
		<key>:id</key>
		<dict>
			<key>find</key>
			<dict>
				<key>auth</key>
				<string>OAuth1</string>
				<key>model</key>
				<string>User</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
